@charset "utf-8";

* {
margin: 0;
padding: 0;
border: none;
}

body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#pageHader {
	height: 150px;
}
#pageNav {
	height: 30px;
}
#pageContent {
	height: 500px;
}
#pageContent #pageMain {
	width: 580px;
	float: left;
	padding: 10px;
	height: 480px;
}
#pageContent #pageSider {
	width: 360px;
	float: left;
}
#pageContent #pageMain p {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
