@charset "utf-8";

body {
	color: red;
	width: 100%;
}#mainContent #contentArticle {
	width: 100%;
}
#mainContent #contentAside {
	float: none;
	width: 100%;
}
#mainContent #contentAside p {
	width: 100%;
}
img {
	width: 100%;
	margin: 0;
	height: auto;
}
#pageHeader {
	background-size: auto auto;
	width: auto;
	height: auto;
}
